<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="facebookTest.Annotations_Results">
      <methods>
      
               <exclude name="Testcase02"></exclude>
               <include name="Testcase01"></include>
               <include name="Testcase03"></include>
                 
      </methods> 
     </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
